<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>50</string>
		<key>value</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>67</string>
		<key>value</key>
		<string>天津市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>85</string>
		<key>value</key>
		<string>石家庄市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>86</string>
		<key>value</key>
		<string>唐山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>87</string>
		<key>value</key>
		<string>秦皇岛市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>88</string>
		<key>value</key>
		<string>邯郸市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>89</string>
		<key>value</key>
		<string>邢台市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>90</string>
		<key>value</key>
		<string>保定市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>91</string>
		<key>value</key>
		<string>张家口市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>92</string>
		<key>value</key>
		<string>承德市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>93</string>
		<key>value</key>
		<string>沧州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>94</string>
		<key>value</key>
		<string>廊坊市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>95</string>
		<key>value</key>
		<string>衡水市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>97</string>
		<key>value</key>
		<string>太原市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>98</string>
		<key>value</key>
		<string>大同市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>99</string>
		<key>value</key>
		<string>阳泉市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>100</string>
		<key>value</key>
		<string>长治市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>101</string>
		<key>value</key>
		<string>晋城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>102</string>
		<key>value</key>
		<string>朔州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>103</string>
		<key>value</key>
		<string>晋中市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>104</string>
		<key>value</key>
		<string>运城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>105</string>
		<key>value</key>
		<string>忻州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>106</string>
		<key>value</key>
		<string>临汾市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>107</string>
		<key>value</key>
		<string>吕梁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>109</string>
		<key>value</key>
		<string>呼和浩特市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>110</string>
		<key>value</key>
		<string>包头市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>111</string>
		<key>value</key>
		<string>乌海市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>112</string>
		<key>value</key>
		<string>赤峰市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>113</string>
		<key>value</key>
		<string>通辽市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>114</string>
		<key>value</key>
		<string>鄂尔多斯市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>115</string>
		<key>value</key>
		<string>呼伦贝尔市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>116</string>
		<key>value</key>
		<string>巴彦淖尔市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>117</string>
		<key>value</key>
		<string>乌兰察布市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>118</string>
		<key>value</key>
		<string>兴安盟</string>
	</dict>
	<dict>
		<key>id</key>
		<string>119</string>
		<key>value</key>
		<string>锡林郭勒盟</string>
	</dict>
	<dict>
		<key>id</key>
		<string>120</string>
		<key>value</key>
		<string>阿拉善盟</string>
	</dict>
	<dict>
		<key>id</key>
		<string>122</string>
		<key>value</key>
		<string>沈阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>123</string>
		<key>value</key>
		<string>大连市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>124</string>
		<key>value</key>
		<string>鞍山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>125</string>
		<key>value</key>
		<string>抚顺市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>126</string>
		<key>value</key>
		<string>本溪市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>127</string>
		<key>value</key>
		<string>丹东市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>128</string>
		<key>value</key>
		<string>锦州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>129</string>
		<key>value</key>
		<string>营口市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>130</string>
		<key>value</key>
		<string>阜新市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>131</string>
		<key>value</key>
		<string>辽阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>132</string>
		<key>value</key>
		<string>盘锦市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>133</string>
		<key>value</key>
		<string>铁岭市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>134</string>
		<key>value</key>
		<string>朝阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>135</string>
		<key>value</key>
		<string>葫芦岛市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>137</string>
		<key>value</key>
		<string>长春市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>138</string>
		<key>value</key>
		<string>吉林市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>139</string>
		<key>value</key>
		<string>四平市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>140</string>
		<key>value</key>
		<string>辽源市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>141</string>
		<key>value</key>
		<string>通化市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>142</string>
		<key>value</key>
		<string>白山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>143</string>
		<key>value</key>
		<string>松原市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>144</string>
		<key>value</key>
		<string>白城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>145</string>
		<key>value</key>
		<string>延边朝鲜族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>147</string>
		<key>value</key>
		<string>哈尔滨市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>148</string>
		<key>value</key>
		<string>齐齐哈尔市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>149</string>
		<key>value</key>
		<string>鸡西市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>150</string>
		<key>value</key>
		<string>鹤岗市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>151</string>
		<key>value</key>
		<string>双鸭山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>152</string>
		<key>value</key>
		<string>大庆市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>153</string>
		<key>value</key>
		<string>伊春市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>154</string>
		<key>value</key>
		<string>佳木斯市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>155</string>
		<key>value</key>
		<string>七台河市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>156</string>
		<key>value</key>
		<string>牡丹江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>157</string>
		<key>value</key>
		<string>黑河市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>158</string>
		<key>value</key>
		<string>绥化市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>159</string>
		<key>value</key>
		<string>大兴安岭地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>160</string>
		<key>value</key>
		<string>上海市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>180</string>
		<key>value</key>
		<string>南京市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>181</string>
		<key>value</key>
		<string>无锡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>182</string>
		<key>value</key>
		<string>徐州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>183</string>
		<key>value</key>
		<string>常州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>184</string>
		<key>value</key>
		<string>苏州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>185</string>
		<key>value</key>
		<string>南通市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>186</string>
		<key>value</key>
		<string>连云港市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>187</string>
		<key>value</key>
		<string>淮安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>188</string>
		<key>value</key>
		<string>盐城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>189</string>
		<key>value</key>
		<string>扬州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>190</string>
		<key>value</key>
		<string>镇江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>191</string>
		<key>value</key>
		<string>泰州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>192</string>
		<key>value</key>
		<string>宿迁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>194</string>
		<key>value</key>
		<string>杭州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>195</string>
		<key>value</key>
		<string>宁波市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>196</string>
		<key>value</key>
		<string>温州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>197</string>
		<key>value</key>
		<string>嘉兴市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>198</string>
		<key>value</key>
		<string>湖州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>199</string>
		<key>value</key>
		<string>绍兴市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>200</string>
		<key>value</key>
		<string>金华市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>201</string>
		<key>value</key>
		<string>衢州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>202</string>
		<key>value</key>
		<string>舟山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>203</string>
		<key>value</key>
		<string>台州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>204</string>
		<key>value</key>
		<string>丽水市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>206</string>
		<key>value</key>
		<string>合肥市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>207</string>
		<key>value</key>
		<string>芜湖市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>208</string>
		<key>value</key>
		<string>蚌埠市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>209</string>
		<key>value</key>
		<string>淮南市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>210</string>
		<key>value</key>
		<string>马鞍山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>211</string>
		<key>value</key>
		<string>淮北市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>212</string>
		<key>value</key>
		<string>铜陵市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>213</string>
		<key>value</key>
		<string>安庆市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>214</string>
		<key>value</key>
		<string>黄山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>215</string>
		<key>value</key>
		<string>滁州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>216</string>
		<key>value</key>
		<string>阜阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>217</string>
		<key>value</key>
		<string>宿州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>218</string>
		<key>value</key>
		<string>巢湖市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>219</string>
		<key>value</key>
		<string>六安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>220</string>
		<key>value</key>
		<string>亳州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>221</string>
		<key>value</key>
		<string>池州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>222</string>
		<key>value</key>
		<string>宣城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>224</string>
		<key>value</key>
		<string>福州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>225</string>
		<key>value</key>
		<string>厦门市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>226</string>
		<key>value</key>
		<string>莆田市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>227</string>
		<key>value</key>
		<string>三明市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>228</string>
		<key>value</key>
		<string>泉州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>229</string>
		<key>value</key>
		<string>漳州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>230</string>
		<key>value</key>
		<string>南平市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>231</string>
		<key>value</key>
		<string>龙岩市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>232</string>
		<key>value</key>
		<string>宁德市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>234</string>
		<key>value</key>
		<string>南昌市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>235</string>
		<key>value</key>
		<string>景德镇市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>236</string>
		<key>value</key>
		<string>萍乡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>237</string>
		<key>value</key>
		<string>九江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>238</string>
		<key>value</key>
		<string>新余市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>239</string>
		<key>value</key>
		<string>鹰潭市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>240</string>
		<key>value</key>
		<string>赣州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>241</string>
		<key>value</key>
		<string>吉安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>242</string>
		<key>value</key>
		<string>宜春市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>243</string>
		<key>value</key>
		<string>抚州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>244</string>
		<key>value</key>
		<string>上饶市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>246</string>
		<key>value</key>
		<string>济南市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>247</string>
		<key>value</key>
		<string>青岛市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>248</string>
		<key>value</key>
		<string>淄博市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>249</string>
		<key>value</key>
		<string>枣庄市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>250</string>
		<key>value</key>
		<string>东营市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>251</string>
		<key>value</key>
		<string>烟台市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>252</string>
		<key>value</key>
		<string>潍坊市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>253</string>
		<key>value</key>
		<string>济宁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>254</string>
		<key>value</key>
		<string>泰安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>255</string>
		<key>value</key>
		<string>威海市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>256</string>
		<key>value</key>
		<string>日照市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>257</string>
		<key>value</key>
		<string>莱芜市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>258</string>
		<key>value</key>
		<string>临沂市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>259</string>
		<key>value</key>
		<string>德州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>260</string>
		<key>value</key>
		<string>聊城市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>261</string>
		<key>value</key>
		<string>滨州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>262</string>
		<key>value</key>
		<string>菏泽市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>264</string>
		<key>value</key>
		<string>郑州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>265</string>
		<key>value</key>
		<string>开封市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>266</string>
		<key>value</key>
		<string>洛阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>267</string>
		<key>value</key>
		<string>平顶山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>268</string>
		<key>value</key>
		<string>安阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>269</string>
		<key>value</key>
		<string>鹤壁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>270</string>
		<key>value</key>
		<string>新乡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>271</string>
		<key>value</key>
		<string>焦作市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>272</string>
		<key>value</key>
		<string>濮阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>273</string>
		<key>value</key>
		<string>许昌市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>274</string>
		<key>value</key>
		<string>漯河市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>275</string>
		<key>value</key>
		<string>三门峡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>276</string>
		<key>value</key>
		<string>南阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>277</string>
		<key>value</key>
		<string>商丘市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>278</string>
		<key>value</key>
		<string>信阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>279</string>
		<key>value</key>
		<string>周口市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>280</string>
		<key>value</key>
		<string>驻马店市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>283</string>
		<key>value</key>
		<string>武汉市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>284</string>
		<key>value</key>
		<string>黄石市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>285</string>
		<key>value</key>
		<string>十堰市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>286</string>
		<key>value</key>
		<string>宜昌市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>287</string>
		<key>value</key>
		<string>襄樊市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>288</string>
		<key>value</key>
		<string>鄂州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>289</string>
		<key>value</key>
		<string>荆门市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>290</string>
		<key>value</key>
		<string>孝感市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>291</string>
		<key>value</key>
		<string>荆州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>292</string>
		<key>value</key>
		<string>黄冈市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>293</string>
		<key>value</key>
		<string>咸宁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>294</string>
		<key>value</key>
		<string>随州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>295</string>
		<key>value</key>
		<string>恩施土家族苗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>298</string>
		<key>value</key>
		<string>长沙市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>299</string>
		<key>value</key>
		<string>株洲市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>300</string>
		<key>value</key>
		<string>湘潭市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>301</string>
		<key>value</key>
		<string>衡阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>302</string>
		<key>value</key>
		<string>邵阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>303</string>
		<key>value</key>
		<string>岳阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>304</string>
		<key>value</key>
		<string>常德市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>305</string>
		<key>value</key>
		<string>张家界市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>306</string>
		<key>value</key>
		<string>益阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>307</string>
		<key>value</key>
		<string>郴州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>308</string>
		<key>value</key>
		<string>永州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>309</string>
		<key>value</key>
		<string>怀化市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>310</string>
		<key>value</key>
		<string>娄底市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>311</string>
		<key>value</key>
		<string>湘西土家族苗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>313</string>
		<key>value</key>
		<string>广州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>314</string>
		<key>value</key>
		<string>韶关市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>315</string>
		<key>value</key>
		<string>深圳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>316</string>
		<key>value</key>
		<string>珠海市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>317</string>
		<key>value</key>
		<string>汕头市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>318</string>
		<key>value</key>
		<string>佛山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>319</string>
		<key>value</key>
		<string>江门市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>320</string>
		<key>value</key>
		<string>湛江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>321</string>
		<key>value</key>
		<string>茂名市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>322</string>
		<key>value</key>
		<string>肇庆市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>323</string>
		<key>value</key>
		<string>惠州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>324</string>
		<key>value</key>
		<string>梅州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>325</string>
		<key>value</key>
		<string>汕尾市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>326</string>
		<key>value</key>
		<string>河源市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>327</string>
		<key>value</key>
		<string>阳江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>328</string>
		<key>value</key>
		<string>清远市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>329</string>
		<key>value</key>
		<string>东莞市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>330</string>
		<key>value</key>
		<string>中山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>331</string>
		<key>value</key>
		<string>潮州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>332</string>
		<key>value</key>
		<string>揭阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>333</string>
		<key>value</key>
		<string>云浮市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>335</string>
		<key>value</key>
		<string>南宁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>336</string>
		<key>value</key>
		<string>柳州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>337</string>
		<key>value</key>
		<string>桂林市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>338</string>
		<key>value</key>
		<string>梧州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>339</string>
		<key>value</key>
		<string>北海市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>340</string>
		<key>value</key>
		<string>防城港市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>341</string>
		<key>value</key>
		<string>钦州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>342</string>
		<key>value</key>
		<string>贵港市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>343</string>
		<key>value</key>
		<string>玉林市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>344</string>
		<key>value</key>
		<string>百色市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>345</string>
		<key>value</key>
		<string>贺州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>346</string>
		<key>value</key>
		<string>河池市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>347</string>
		<key>value</key>
		<string>来宾市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>348</string>
		<key>value</key>
		<string>崇左市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>350</string>
		<key>value</key>
		<string>海口市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>351</string>
		<key>value</key>
		<string>三亚市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>353</string>
		<key>value</key>
		<string>重庆市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>395</string>
		<key>value</key>
		<string>成都市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>396</string>
		<key>value</key>
		<string>自贡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>397</string>
		<key>value</key>
		<string>攀枝花市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>398</string>
		<key>value</key>
		<string>泸州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>399</string>
		<key>value</key>
		<string>德阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>400</string>
		<key>value</key>
		<string>绵阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>401</string>
		<key>value</key>
		<string>广元市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>402</string>
		<key>value</key>
		<string>遂宁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>403</string>
		<key>value</key>
		<string>内江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>404</string>
		<key>value</key>
		<string>乐山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>405</string>
		<key>value</key>
		<string>南充市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>406</string>
		<key>value</key>
		<string>眉山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>407</string>
		<key>value</key>
		<string>宜宾市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>408</string>
		<key>value</key>
		<string>广安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>409</string>
		<key>value</key>
		<string>达州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>410</string>
		<key>value</key>
		<string>雅安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>411</string>
		<key>value</key>
		<string>巴中市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>412</string>
		<key>value</key>
		<string>资阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>413</string>
		<key>value</key>
		<string>阿坝藏族羌族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>414</string>
		<key>value</key>
		<string>甘孜藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>415</string>
		<key>value</key>
		<string>凉山彝族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>417</string>
		<key>value</key>
		<string>贵阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>418</string>
		<key>value</key>
		<string>六盘水市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>419</string>
		<key>value</key>
		<string>遵义市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>420</string>
		<key>value</key>
		<string>安顺市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>421</string>
		<key>value</key>
		<string>铜仁地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>422</string>
		<key>value</key>
		<string>黔西南布依族苗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>423</string>
		<key>value</key>
		<string>毕节地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>424</string>
		<key>value</key>
		<string>黔东南苗族侗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>425</string>
		<key>value</key>
		<string>黔南布依族苗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>427</string>
		<key>value</key>
		<string>昆明市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>428</string>
		<key>value</key>
		<string>曲靖市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>429</string>
		<key>value</key>
		<string>玉溪市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>430</string>
		<key>value</key>
		<string>保山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>431</string>
		<key>value</key>
		<string>昭通市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>432</string>
		<key>value</key>
		<string>丽江市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>433</string>
		<key>value</key>
		<string>普洱市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>434</string>
		<key>value</key>
		<string>临沧市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>435</string>
		<key>value</key>
		<string>楚雄彝族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>436</string>
		<key>value</key>
		<string>红河哈尼族彝族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>437</string>
		<key>value</key>
		<string>文山壮族苗族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>438</string>
		<key>value</key>
		<string>西双版纳傣族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>439</string>
		<key>value</key>
		<string>大理白族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>440</string>
		<key>value</key>
		<string>德宏傣族景颇族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>441</string>
		<key>value</key>
		<string>怒江傈僳族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>442</string>
		<key>value</key>
		<string>迪庆藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>444</string>
		<key>value</key>
		<string>拉萨市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>445</string>
		<key>value</key>
		<string>昌都地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>446</string>
		<key>value</key>
		<string>山南地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>447</string>
		<key>value</key>
		<string>日喀则地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>448</string>
		<key>value</key>
		<string>那曲地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>449</string>
		<key>value</key>
		<string>阿里地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>450</string>
		<key>value</key>
		<string>林芝地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>452</string>
		<key>value</key>
		<string>西安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>453</string>
		<key>value</key>
		<string>铜川市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>454</string>
		<key>value</key>
		<string>宝鸡市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>455</string>
		<key>value</key>
		<string>咸阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>456</string>
		<key>value</key>
		<string>渭南市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>457</string>
		<key>value</key>
		<string>延安市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>458</string>
		<key>value</key>
		<string>汉中市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>459</string>
		<key>value</key>
		<string>榆林市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>460</string>
		<key>value</key>
		<string>安康市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>461</string>
		<key>value</key>
		<string>商洛市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>463</string>
		<key>value</key>
		<string>兰州市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>464</string>
		<key>value</key>
		<string>嘉峪关市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>465</string>
		<key>value</key>
		<string>金昌市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>466</string>
		<key>value</key>
		<string>白银市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>467</string>
		<key>value</key>
		<string>天水市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>468</string>
		<key>value</key>
		<string>武威市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>469</string>
		<key>value</key>
		<string>张掖市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>470</string>
		<key>value</key>
		<string>平凉市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>471</string>
		<key>value</key>
		<string>酒泉市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>472</string>
		<key>value</key>
		<string>庆阳市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>473</string>
		<key>value</key>
		<string>定西市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>474</string>
		<key>value</key>
		<string>陇南市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>475</string>
		<key>value</key>
		<string>临夏回族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>476</string>
		<key>value</key>
		<string>甘南藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>478</string>
		<key>value</key>
		<string>西宁市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>479</string>
		<key>value</key>
		<string>海东地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>480</string>
		<key>value</key>
		<string>海北藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>481</string>
		<key>value</key>
		<string>黄南藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>482</string>
		<key>value</key>
		<string>海南藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>483</string>
		<key>value</key>
		<string>果洛藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>484</string>
		<key>value</key>
		<string>玉树藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>485</string>
		<key>value</key>
		<string>海西蒙古族藏族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>487</string>
		<key>value</key>
		<string>银川市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>488</string>
		<key>value</key>
		<string>石嘴山市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>489</string>
		<key>value</key>
		<string>吴忠市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>490</string>
		<key>value</key>
		<string>固原市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>491</string>
		<key>value</key>
		<string>中卫市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>493</string>
		<key>value</key>
		<string>乌鲁木齐市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>494</string>
		<key>value</key>
		<string>克拉玛依市</string>
	</dict>
	<dict>
		<key>id</key>
		<string>495</string>
		<key>value</key>
		<string>吐鲁番地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>496</string>
		<key>value</key>
		<string>哈密地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>497</string>
		<key>value</key>
		<string>昌吉回族自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>498</string>
		<key>value</key>
		<string>博尔塔拉蒙古自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>499</string>
		<key>value</key>
		<string>巴音郭楞蒙古自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>500</string>
		<key>value</key>
		<string>阿克苏地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>501</string>
		<key>value</key>
		<string>克孜勒苏柯尔克孜自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>502</string>
		<key>value</key>
		<string>喀什地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>503</string>
		<key>value</key>
		<string>和田地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>504</string>
		<key>value</key>
		<string>伊犁哈萨克自治州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>505</string>
		<key>value</key>
		<string>塔城地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>506</string>
		<key>value</key>
		<string>阿勒泰地区</string>
	</dict>
	<dict>
		<key>id</key>
		<string>507</string>
		<key>value</key>
		<string>埃保常</string>
	</dict>
</array>
</plist>
